@font-face {
    font-family: ArialEnglishNum;
    src: local('Arial');
    unicode-range: U+0030-0039, U+002C, U+0025; /* 0-9 , % */
    font-weight: normal;
}

@font-face {
    font-family: ArialEnglishNum;
    src: local('Arial Bold'), local('Arial-BoldMT'), local('Arial');
    unicode-range: U+0030-0039, U+002C, U+0025; /* 0-9 , % */
    font-weight: bold;
}
