@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-*: initial;
  --default-font-family: "IRANSansX", arial, sans-serif;

  --color-*: initial;
  /* pallets */
  --color-blue-100: oklch(92.598% 0.0357 243.062);
  --color-blue-200: oklch(85.384% 0.07016 243.543);
  --color-blue-300: oklch(77.775% 0.10946 244.886);
  --color-blue-400: oklch(71.22% 0.14195 246.352);
  --color-blue-500: oklch(65.817% 0.16904 248.834);
  --color-blue-600: oklch(56.37% 0.1617 251.372);
  --color-blue-700: oklch(45.77% 0.12767 250.662);
  --color-blue-800: oklch(36.469% 0.09766 249.7);
  --color-blue-900: oklch(27.116% 0.06985 249.356);
  --color-red-100: oklch(94.324% 0.02784 6.436);
  --color-red-200: oklch(87.741% 0.06062 13.217);
  --color-red-300: oklch(79.061% 0.10765 16.858);
  --color-red-400: oklch(69.96% 0.16166 20.766);
  --color-red-500: oklch(65.39% 0.19256 25.125);
  --color-red-600: oklch(59.237% 0.16123 20.259);
  --color-red-700: oklch(51.53% 0.13086 16.214);
  --color-red-800: oklch(42.286% 0.08879 10.643);
  --color-red-900: oklch(30.423% 0.06928 0.545);
  --color-green-100: oklch(94.873% 0.03396 173.682);
  --color-green-200: oklch(88.936% 0.06389 176.308);
  --color-green-300: oklch(82.259% 0.09281 176.426);
  --color-green-400: oklch(76.162% 0.11308 176.187);
  --color-green-500: oklch(65.634% 0.1071 185.384);
  --color-green-600: oklch(58.531% 0.0964 187.628);
  --color-green-700: oklch(50.576% 0.08381 188.378);
  --color-green-800: oklch(42.015% 0.06898 201.834);
  --color-green-900: oklch(30.165% 0.05235 210.925);
  --color-neutral-100: oklch(97.846% 0.00464 258.637);
  --color-neutral-200: oklch(97.276% 0.00585 264.664);
  --color-neutral-300: oklch(95.157% 0.00878 264.61);
  --color-neutral-400: oklch(92.117% 0.01177 264.574);
  --color-neutral-500: oklch(87.521% 0.01489 264.543);
  --color-neutral-600: oklch(83.456% 0.01679 262.799);
  --color-neutral-700: oklch(78.125% 0.01706 262.791);
  --color-neutral-800: oklch(72.368% 0.02052 263.021);
  --color-neutral-900: oklch(66.134% 0.02283 261.78);
  --color-neutral-white: oklch(100% 0.00011 271.152);
  --color-neutral-black: oklch(20.596% 0.0229 268.9);
  /*  */
  --color-brand: var(--color-blue-500);
  --background-color-brand-hover: var(--color-blue-600);
  --background-color-brand-active: var(--color-blue-700);
  --color-brand-light: oklch(from var(--color-blue-500) l c h / 8%);
  --background-color-brand-light-hover: oklch(from var(--color-blue-500) l c h / 12%);
  --background-color-brand-light-active: oklch(from var(--color-blue-500) l c h / 20%);
  --color-info: oklch(65.817% 0.16904 248.834);
  --background-color-info-hover: oklch(56.37% 0.1617 251.372);
  --background-color-info-active: oklch(45.77% 0.12767 250.662);
  --color-info-light: oklch(from var(--color-info) l c h / 8%);
  --background-color-info-light-hover: oklch(from var(--color-info) l c h / 12%);
  --background-color-info-light-active: oklch(from var(--color-info) l c h / 20%);
  --color-success: oklch(45.77% 0.12767 250.662);
  --background-color-success-hover: oklch(38.88% 0.11934 250.662);
  --background-color-success-active: oklch(33.19% 0.10984 250.662);
  --color-success-light: oklch(from var(--color-success) l c h / 8%);
  --background-color-success-light-hover: oklch(from var(--color-success) l c h / 12%);
  --background-color-success-light-active: oklch(from var(--color-success) l c h / 20%);
  --color-warning: oklch(77.025% 0.17409 64.047);
  --background-color-warning-hover: oklch(77.025% 0.17409 64.047 / 12%);
  --background-color-warning-active: oklch(77.025% 0.17409 64.047 / 20%);
  --color-warning-light: oklch(from var(--color-warning) l c h / 8%);
  --background-color-warning-light-hover: oklch(from var(--color-warning) l c h / 12%);
  --background-color-warning-light-active: oklch(from var(--color-warning) l c h / 20%);
  --color-error: oklch(63.039% 0.22164 22.67);
  --background-color-error-hover: oklch(63.039% 0.22164 22.67 / 12%);
  --background-color-error-active: oklch(63.039% 0.22164 22.67 / 20%);
  --color-error-light: oklch(from var(--color-error) l c h / 8%);
  --background-color-error-light-hover: oklch(from var(--color-error) l c h / 12%);
  --background-color-error-light-active: oklch(from var(--color-error) l c h / 20%);
  --color-neutral: var(--color-neutral-400);
  --background-color-neutral-hover: var(--color-neutral-500);
  --background-color-neutral-active: var(--color-neutral-600);
  --color-neutral-light: oklch(from var(--color-neutral-500) / 28%);
  --background-color-neutral-light-hover: oklch(from var(--color-neutral-500) / 36%);
  --background-color-neutral-light-active: oklch(from var(--color-neutral-500) / 52%);
  /* semantic */
  --background-color-primary: var(--color-neutral-500);
  --background-color-secondary: var(--color-neutral-100);
  --background-color-disabled: var(--color-neutral-200);
  --background-color-modal: var(--color-neutral-white);
  --background-color-fg-primary: var(--color-neutral-white);
  --background-color-fg-secondary: var(--color-neutral-200);
  --background-color-fg-tertiary: var(--color-neutral-400);
  --background-color-fg-selected: oklch(from var(--color-blue-500) / 20%);
  --text-color-primary: oklch(20.596% 0.0229 268.9);
  --text-color-secondary: oklch(20.596% 0.0229 268.9 / 60%);
  --text-color-tertiary: oklch(20.596% 0.0229 268.9 / 40%);
  --text-color-disabled: var(--color-neutral-500);
  --border-color-primary: var(--color-border-primary);
  --border-color-secondary: var(--color-border-secondary);

  --text-*: initial;
  --text-display-large: 48px;
  --text-display-large--line-height: 1.8;
  --text-display-large--font-weight: var(--font-weight-black);
  --text-display-medium: 40px;
  --text-display-medium--line-height: 1.8;
  --text-display-medium--font-weight: var(--font-weight-black);
  --text-display-small: 32px;
  --text-display-small--line-height: 1.8;
  --text-display-small--font-weight: var(--font-weight-black);
  --text-heading-large: 24px;
  --text-heading-large--line-height: 1.8;
  --text-heading-large--font-weight: var(--font-weight-bold);
  --text-heading-medium: 18px;
  --text-heading-medium--line-height: 1.8;
  --text-heading-medium--font-weight: var(--font-weight-bold);
  --text-heading-small: 16px;
  --text-heading-small--line-height: 1.8;
  --text-heading-small--font-weight: var(--font-weight-bold);
  --text-title-large: 14px;
  --text-title-large--line-height: 1.5;
  --text-title-large--font-weight: var(--font-weight-semibold);
  --text-title-medium: 13px;
  --text-title-medium--line-height: 1.5;
  --text-title-medium--font-weight: var(--font-weight-semibold);
  --text-title-small: 12px;
  --text-title-small--line-height: 1.5;
  --text-title-small--font-weight: var(--font-weight-semibold);
  --text-body-large: 14px;
  --text-body-large--line-height: 1.5;
  --text-body-large--font-weight: var(--font-weight-normal);
  --text-body-medium: 13px;
  --text-body-medium--line-height: 1.5;
  --text-body-medium--font-weight: var(--font-weight-normal);
  --text-body-small: 12px;
  --text-body-small--line-height: 1.5;
  --text-body-small--font-weight: var(--font-weight-normal);
  --text-caption-large: 11px;
  --text-caption-large--line-height: 1.5;
  --text-caption-large--font-weight: var(--font-weight-normal);
  --text-caption-medium: 10px;
  --text-caption-medium--line-height: 1.5;
  --text-caption-medium--font-weight: var(--font-weight-normal);
  --text-caption-small: 9px;
  --text-caption-small--line-height: 1.5;
  --text-caption-small--font-weight: var(--font-weight-normal);

  --breakpoint-*: initial;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;

  --radius-*: initial;
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-round: 999px;

  --shadow-*: initial;
  --shadow-primary: 0 4px 6px 0 rgb(0 0 0 / 20%);
  --shadow-secondary: 0 4px 12px 0 rgb(0 0 0 / 40%);
  --shadow-tertiary: 0 4px 20px 0 rgb(0 0 0 / 40%);

  --inset-shadow-*: initial;
  --inset-shadow-primary: 0 4px 6px 0 rgb(0 0 0 / 20%);
  --inset-shadow-secondary: 0 4px 12px 0 rgb(0 0 0 / 40%);
  --inset-shadow-tertiary: 0 4px 20px 0 rgb(0 0 0 / 40%);
}
